html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Menggunakan 100vh untuk memastikan tinggi penuh */
  overflow: hidden;
  background-color: #000000;
  color: white; /* Mengubah warna teks default menjadi putih */
}